:root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --undertitle-text-color: #757575;
    --nav-text-color: #2196F3;
    --primary-backgroundcolor: #F5F5F5;
    --secondary-backgroundcolor: #F5F4FA;
    --button-color: #2196F3;
    --logo-color: #000000;
    --hero-text-color: #FFFFFF;
    --hero-background-color: #2F303A;
}
body {
background-color: var(--primary-backgroundcolor);
color: var(--primary-text-color);
font-family: roboto;
}

ul {
    list-style: none;
}
.logo {
color: var(--nav-text-color);
}
.studio {
    color: var(--logo-color);
}

/* site-nav */

.site-nav .link {
    color: var(--primary-text-color)
}
.site-nav .link:hover,
.site-nav .link:focus
{
color: var(--nav-text-color);
}
/* Main */
.hero {
    color: var(--hero-text-color);
    background-color: #2F303A;
}
.button {
    cursor: pointer;
    color: var(--hero-text-color);
    background-color:var(--button-color);
}
.advantages-list {
    color: var(--title-text-color);
}
.advantages-text {
    color: var(--undertitle-text-color);
}
.h2-title {
    color: var(--primary-text-color);
}
.team-section {
    background-color: var(--secondary-backgroundcolor);
}
.team-list {
color: var(--primary-text-color);
}
.team-text {
    color: var(--undertitle-text-color);
}
/* footer */
.footer {
    background-color: var(--hero-background-color);
}
.studio-footer {
    color: var(--hero-text-color);
}

.address-footer {
    color:var(--hero-text-color);
}
.mail-footer {
    color: rgba(255, 255, 255, 0.6);
}
.tel-footer {
    color: rgba(255, 255, 255, 0.6);
}
.address-footer:hover,
.address-footer:focus {
    color: var(--nav-text-color)
}
.mail-footer:hover,
.mail-footer:focus {
    color: var(--nav-text-color)
}
.tel-footer:hover,
.tel-footer:focus {
    color: var(--nav-text-color);
}